<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Console appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Pattern of log message for file appender -->
            <pattern>%d{ISO8601} %highlight(%-5level) [%blue(%t)] %green(%X{requestId}) %yellow(%C): %msg%n%throwable</pattern>
        </encoder>
    </appender>
    <logger name="org.hibernate.envers.boot.internal.AdditionalJaxbMappingProducerImpl$1" level="OFF" />


    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>

